<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome-page</title>
</head>
<body>
<h3>Welcome page</h3>
<table cellpadding="10px">
    <thead>
    <tr>
        <th>
        S/N
    </th>
    <th>
        Names
    </th>
        <th>
           link
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            1
        </td>
        <td>
            Olawale
        </td>
        <td>
            <a href="page1">page1</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>